.sidebar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

.sidebar-logo {
  margin-left: 50px;
  margin-right: 100px;
  width: 100px;
  cursor: pointer;
  height: auto;
}

.sidebar img {
  width: 100px;
  height: auto;
}

.sidebar-menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sidebar-menu li {
  margin-left: 10px;
  margin-bottom: 1px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: transform 0.3s ease;
  display: inline-block; /* Importante para aplicar transformações corretamente */
}

.sidebar-menu li a:hover {
  transform: translateY(-5px); /* Move o texto para cima por 5 pixels ao passar o cursor */
}