.footer-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    background-color: transparent;
}

.footer-container .social-icon {
    margin-right: 30px;
    transition: transform 0.3s ease-in-out;
}

.footer-container .social-icon:hover {
    transform: scale(1.2);
}